{% extends 'base.html' %}
{% block title %} Admin Dashboard {% endblock %}

{% block content %}

<div class="container-fluid p-5">
    <div class="d-flex flex-column">
        <div class="container-fluid p-4">
            <h1 class="fw-bold text-center">Admin Dashboard</h1>
        </div>

        <div class="row p-4 d-flex gap-3  ">
            <h3 class="fw-bold">Stats</h3>
            <div class="student_count bg-primary text-white col-lg-3 col-md-4 col-sm-6 d-flex align-items-center justify-content-between spotify-card">
                <div class="text-content">
                    <h2 class="fw-bold">{{ student_count }}</h2>
                    <p class="text-white">Students</p>
                </div>
                <div class="image-content">
                    <img src="{{ url_for('static',filename='images/student.png')}}" alt="Student Image" class="floating-image">
                </div>
            </div>
        
            <div class="teacher_count bg-primary col-lg-3 col-md-4 col-sm-6 d-flex align-items-center justify-content-between spotify-card">
                <div class="text-content">
                    <h2 class="fw-bold">{{ teachers_count }}</h2>
                    <p class="text-white">Teachers</p>
                </div>
                <div class="image-content">
                    <img src="{{ url_for('static',filename='images/teacher.png') }}" alt="Teacher Image" class="floating-image">
                </div>
            </div>
        
            <div class="class_count bg-primary col-lg-3 col-md-4 col-sm-6 d-flex align-items-center justify-content-between spotify-card">
                <div class="text-content">
                    <h2 class="fw-bold">{{ class_count }}</h2>
                    <p class="text-white">Classes</p>
                </div>
                <div class="image-content">
                    <img src="{{ url_for('static',filename='images/class.png') }}" alt="Class Image" class="floating-image">
                </div>
            </div>
        </div>

        <div class="row p-4 d-flex gap-3">
            <h3 class="fw-bold">Upcoming Events and Exams</h3>

            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <h2 class="mb-0">Events</h2>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Location</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for event in events_today_and_upcoming %}
                                   <tr>
                                        <td>{{ event.name }}</td>
                                        <td>{{ event.date }}</td>
                                        <td>{{ event.time }}</td>
                                        <td>{{ event.location }}</td>
                                        <td>{{ event.description }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="container mt-5">
                <div class="card">
                    <div class="card-header">
                        <h2 class="mb-0">Upcoming Exams</h2>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for exam in exams_today_and_upcoming %}
                                <tr>
                                    <td>{{ exam.name }}</td>
                                    <td>{{ exam.date }}</td>
                                    <td>{{ exam.time }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>

        
    
        <div class="row p-4 d-flex  gap-3">
            <h3 class="fw-bold">Add students, teachers and classes</h3>
            <a href="{{ url_for('admin.add_student') }}" 
               class="square-box bg-primary text-white d-flex align-items-center justify-content-center rounded text-center fs-3 fw-bold">
               Add Students
            </a>
            <a href="{{ url_for('admin.add_class') }}" 
               class="square-box bg-warning text-white d-flex align-items-center justify-content-center rounded text-center fs-3 fw-bold">
               Add Class
            </a>
            <a href="{{ url_for('admin.add_teacher') }}" 
               class="square-box bg-success text-white d-flex align-items-center justify-content-center rounded text-center fs-3 fw-bold">
               Add Teacher
            </a>
            <a href="{{ url_for('admin.assign_teacher') }}" 
            class="square-box bg-danger text-white d-flex align-items-center justify-content-center rounded text-center fs-3 fw-bold">
            Assign Teacher</a>

            <a href="{{ url_for('admin.subjects')}}"
            class="square-box bg-warning text-white d-flex align-items-center justify-content-center rounded text-center fs-3 fw-bold">Add new Subjects</a>

            <a href="{{ url_for('admin.assign_subject')}}" class="square-box bg-info text-white d-flex align-items-center justify-content-center rounded text-center fs-5 fw-bold">Assign Existing subject to a teacher</a>
        </div>

        <div class="row p-4 d-flex ">
            <h2 class="fw-bold">Exams</h2>
            <a href="{{ url_for('admin.exams')}}" class="square-box bg-primary text-white d-flex align-items-center justify-content-center rounded text-center fs-3 fw-bold">Exam Details</a>
        </div>

        <div class="row p-4 d-flex">
            <h2 class="fw-bold">Events</h2>
            <a href="{{ url_for('admin.events') }}" class="square-box bg-primary text-white d-flex align-items-center justify-content-center rounded text-center fs-3 fw-bold">Event Details</a>
        </div>


        <div class="row p-4 d-flex">
            <h2 class="fw-bold">Notification</h2>
            <a href="{{ url_for('admin.notifications') }}" class="square-box bg-primary text-white d-flex align-items-center justify-content-center rounded text-center fs-5 fw-bold">Notification Details</a>
        </div>


    </div>
</div>

<style>
    .student_count{
        background: blueviolet;
        background: linear-gradient(to right,blueviolet 0%,transparent 100%)

    }
    .class_count{
        background: crimson;
        background: linear-gradient(to right, crimson 0%,transparent 100%)
    }
    .teacher_count{
        background: darkorange;
        background: linear-gradient(to right, darkorange 0%,transparent 100%)
    }
    .student_count h2,
    .class_count h2,
    .teacher_count h2{
        font-size: 5ch;
        color: white;
    }
    .square-box {
        width: 150px;
        height: 150px;
        text-decoration: none;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 3px solid rgba(0, 0, 0, 0.1);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        font-family: 'Arial', sans-serif;
        font-weight: bold;
    }
    .spotify-card {
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .text-content {
        flex: 1;
        text-align: left;
    }
    
    .image-content {
        flex: 0 0 100px;
        display: flex;
        justify-content: flex-end;
    }
    
    .floating-image {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    
</style>

{% endblock %}
