{% extends 'base.html' %}

{% block title %}Add New Class{% endblock %}

{% block content %}
<div class="container-fluid p-5">
    <h2 class="text-center">Add New Class</h2>

    <form action="{{ url_for('admin.add_class') }}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Class Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>

        <div class="mb-3">
            <label for="teacher_id" class="form-label">Assign Teacher</label>
            <select class="form-control" id="teacher_id" name="teacher_id" required>
                <option value="" disabled selected>Select Teacher</option>
                {% for teacher in teachers %}
                    <option value="{{ teacher.id }}">{{ teacher.first_name }} {{ teacher.last_name }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary w-100">Add Class</button>
    </form>
</div>
{% endblock %}
